<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Person</title>
    <style>
        .verify{
            background:rgb(13,110,253);
            color:white;
            padding: 5px 10px;
            font-size: 20px;
            border-radius: 15px;
        }
    </style>
</head>
<body>
    <div style="max-width: 100%; text-align: center;">
        <h1>Verify a Person</h1>
        <form action="/verify" method="post" enctype="multipart/form-data">
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" required>
            <br><br>
            <label for="query">Search Query (e.g., Name):</label>
            <input type="text" name="query" id="query" required>
            <br><br>
            <button class="verify" type="submit">Verify</button>
        </form>
    </div>
</body>
</html>
